* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
font-style: normal;
}

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #000;
overflow: hidden;
}

.background {
display: flex;
flex-direction: column;
justify-content: space-between;

position: relative;
width: 100wh;
height: 100vh;
}

.bubbles {
position: relative;
display: flex;
}
.bubbles span {
position: relative;
min-width: 30px;
height: 30px;
background: rgba(81, 178, 207, 0.8);
box-shadow: 0 0 0 10px rgba(79, 195, 220, 0.2666666667), 0 0 50px #705AFE, 0 0 100px #4fc3dc;
margin: 0 4px;
border-radius: 50%;
animation: animate 20s linear infinite;
animation-duration: calc(200s / var(--i));
}
.bubbles span:nth-child(even) {
background: rgba(164, 79, 220, 0.8941176471);
box-shadow: 0 0 0 10px rgba(164, 79, 220, 0.3137254902), 0 0 50px #ff2d75, 0 0 100px #ee00ff;
}

@keyframes animate {
0% {
    transform: translateY(100vh) scale(0);
}
100% {
    transform: translateY(-10vh) scale(0.7);
}
}


footer {
text-align: center;
margin: 0.5rem 0rem;
}

footer p {
color: #fff;
font-size: 1em;
}

footer p a {
color: #ff334c;
}

footer p a:hover {
opacity: 0.5;
}